BasedOnStyle: Google
IndentWidth: 2
UseTab: Never
BreakBeforeBraces: Attach # Keep braces on the same line as functions
ColumnLimit: 0 # Disable column limit to avoid line wrapping
AllowAllArgumentsOnNextLine: false # Keep all function parameters on one line
BreakBeforeParameter: false # Keep function parameters on one line
SpaceBeforeParens: Never # No space before parentheses in function declarations
CommentPragmas: "^.*$" # Prevent reformatting comments
AlignTrailingComments: false # Don't align comments to the end of the line

AlwaysBreakTemplateDeclarations: false # Don't break template declarations
